body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #a8edea);
  background-size: cover;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  background: #333;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background: #555;
}

nav a:visited {
  color: #ccc;
}

.gallery {
  padding: 30px;
}

.photos {
  display: 1000px;
  gap: 15px;
}

.photos img {
  height: 500px;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.media {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: fit-content;
  }

footer {
  background: #333;
  color: white;
  padding: 10px;
}